*body{
  font-family: sans-serif
}

#container{
    border:0px solid blue;
    margin-left: 90px;
    width:67%;
    height: auto;
    margin-top: 90px;
    

}
 #parent{
    border:0px solid red;
    width:100%;
    height: 450px;
    /* margin-left: 90px; */
    display: flex;
    /* margin-top: 100px; */
    gap: 20px;
 }

 #parent>div{
    margin-top: 20px;
    padding: 10px;

 }

 #left{
    width:300px;
    height: 300px;
    border:1px solid rgb(165, 163, 163);
    border-radius: 5px;
    /* box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;  */

    
   
 }

 
 #middle{
    width:770px;
    height: 500px;
    border:0px solid black
 }

 
 #prod{
    border:0px solid red;
    width:100%;
    height: 400px;
    display: flex;
    margin-top: 50px;
    gap: 20px;
    /* margin-left: 90px; */
    
 }
 #prod>div{
    border: 0px solid black;
    width:200px;
   
 }
 #im{
    border: 1px solid rgb(153, 149, 149);
    border-radius: 5px;
    
    
 }
 #im>img{
    padding-bottom: 10px;
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 30px;
    display: block;
    margin: auto;
    width:60%;
    height: 150px;
 }
 #ima{
    border: 1px solid rgb(153, 149, 149);
    height: 190px;
    border-radius: 5px;
    
    
 }

 #ima>img{
    padding-bottom: 10px;
    padding-top: 50px;
    padding-left: 30px;
    padding-right: 30px;
    display: block;
    margin: auto;
    width:60%;
    height: 80px;
 }
 #details{
    border:0px solid brown;
    margin-top: 15px;
 }
 #details>h2{
    font-size: 17px;
    font-weight: 600;
    text-align: left;
    color: rgb(61, 60, 60);
    margin-top: 7px;
 }
 #details>p{
    font-size: 17px;
    text-align: left;
    color: rgb(61, 60, 60);
    margin-top: 7px;
 }
 #details>button{
    margin-top: 15px;
    /* margin-left: 30px; */
    width:90px;
    height: 40px;
    border: 1px solid #0d7767;
    color:#0d7767;
    border-radius: 5px;
    font-size: 18px;
    font-weight: 700;
    background-color: white;
 }

 #det{
    border:0px solid red;
    width:100%;
    height: 200px;
    margin-top: 50px;
    gap: 20px;
    /* margin-left: 75px; */
    line-height: 35px;
    color: rgb(47, 47, 47);
    
 }
 #det>h3{
    margin-left: -4px;
 }
 p>a{
    color: #0d7767;
    text-decoration: none;
 }


#disclaimer{
    border: 0px solid red;
    /* margin-left: 75px; */
    width:100%;
    height: 80px;
    margin-top: 30px;
    line-height: 15px;
    
}

#disclaimer>p{
   font-size: 13px;
   color:grey;
   margin-top: 10px;
}
#disclaimer>h6{
    color: grey;
    font-size: 12px;
}

#rate{
    border: 0px solid red;
    /* margin-left: 75px;
    width:65%; */
    height: 300px;
    margin-top: 20px;
    line-height: 15px;
    
    
}
h4{
    /* margin-left: 75px; */
    margin-top: 30px;
}

#product_details{
    /* margin-left: 75px; */
    margin-top: 30px;
}
#recent{
    border: 0px solid red;
    /* margin-left: 75px; */
    width:100%;
    height: 150px;
    margin-top: 20px;
    /* line-height: 15px; */
    
    
}
#recent>div{
    margin-top:10px ;
    height: 50px;
    margin-bottom:10px ;
    width:100px;
    border: 0px solid red;
    line-height: 10px;
}
#recent>div>img{
    height: 150px;
    width:300px;
    margin-left: -86px;
    margin-top: -55px;
   
}
#i{
    color: rgb(86, 85, 85);
    font-size: 16px;
}

#hrLine{
    /* margin-left: 75px; */
    /* width:65%; */
    opacity: 0.5;
}

a{
    color: #0d7767;
    text-decoration: none;
}

#cle{
    width:100%;
    border:0px solid black;
    height:40px;
   /* margin-left: 75px; */
    margin-top: 40px;
}

#all{
    margin-top: 40px;
    display: flex;
    /* margin-left: 75px; */
    width:100%;
    height: 170px;
    gap:20px
}
#all>div{
    border:0px solid blue;
    height:400px
}

#all>div>img{
   width:100%;
   height:50%;
   border-radius: 5px;
}

#all> div>h4{
    margin-left: -2px;
    margin-bottom: 10px;
    color:rgb(101, 100, 100)
}
#all> div>p{
    color:rgb(101, 100, 100);
    margin-top:5px;
}
#all>a{
   
    margin-top: 15px;
}

#left>img{
     width:100%;
     height: 100%;
     /* margin-top: 100px; */
     /* box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px; */
}
#middle >div>h3{
    margin: 10px;
    color: rgb(60, 59, 59);
}

#middle >div>h2{
    margin: 10px;
    color: rgb(60, 59, 59);
}
#middle>div>img{
    height: 130px;
    width:300px;
    margin-left: -75px;
    margin-top: -35px;
   
}
#middle>a{
    margin-top: 15px;
    font-size: 19px;
    margin-left: 8px;
}
#mrp{
    margin-top: -30px;
}

#middle>button{
    width:150px;
    height:60px;
    background-color: #0d7767;
    color: white;
    border:1px solid #0d7767;
    border-radius: 5px;
    font-size: 22px;
    margin-left: 550px;
    margin-top: -600px;
    
}
#middle>button:hover{
    background-color: #369284;
    cursor: pointer;
}

#h{
    margin-left: 12px;
    margin-top: 10px;
    color: rgb(60, 59, 59);
}


#he{
    margin-left:10px;
    color: rgb(60, 59, 59);
}
#btn{
    margin-left: 10px;
    margin-top: 15px;
}
#btn>button{
    width:90px;
    height: 40px;
    font-size: 15px;
    border-radius: 5px;
    color:black;
    background-color: white;
    border:1px solid rgb(183, 182, 182)
}

#btn>button:hover{
  background-color: #8aeddf;
  cursor: pointer;
}

#count {
    position: absolute;
    top: -4px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f47779;
    border: 0.5px solid #fff;
    border-radius: 8px;
    width: 16px;
    height: 16px;
    color: #fff;
    font-weight: 700;
    font-size: 10px;
    line-height: 16px;
  }

  #right{
    width:400px;
    height: 450px;
    border:1px solid black;
    position: sticky;
    margin-left: 1250px;
    margin-top: -3000px;
 }

 #p{
    font-size: 20px;
 }
 #pi{
    font-size: 18px;
 }
